<!DOCTYPE html><html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/about.css">

    <title>RadioLook - Относно</title>
  </head>
  
  <body>
			<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		  <a class="navbar-brand" href="/"><img src="/logo.png" width="30" height="30" class="d-inline-block align-top" alt=""> RadioLook</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
			  <li class="nav-item">
				<a class="nav-link" href="/">Начало</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/radios">Списък</a>
			  </li>
			  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Радиа</a>
				<div id="radios-dropdown" class="dropdown-menu" aria-labelledby="dropdown01"><a class="dropdown-item" href="/radio/avtoradio">Авторадио</a>
<a class="dropdown-item" href="/radio/bgradio">БГ Радио</a>
<a class="dropdown-item" href="/radio/novanews">Нова Нюз</a>
<a class="dropdown-item" href="/radio/radioenergy">Радио NRJ</a>
<a class="dropdown-item" href="/radio/radio1">Радио 1</a>
<a class="dropdown-item" href="/radio/radio1rock">Радио 1 Рок</a>
<a class="dropdown-item" href="/radio/radioveronika">Радио Вероника</a>
<a class="dropdown-item" href="/radio/nrj90s">Радио NRJ 90s</a>
<a class="dropdown-item" href="/radio/radionova">Радио Nova</a>
<a class="dropdown-item" href="/radio/radiocity">Радио City</a>
<a class="dropdown-item" href="/radio/bgestrada">Радио БГ Естрада</a>
</div>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/feedback">Контакт</a>
			  </li>
			  <li class="nav-item active">
				<a class="nav-link" href="/about">Относно<span class="sr-only">(current)</span></a>
			  </li>
			</ul>

		  </div>
		</nav>
	
	<main role="main" class="container">	
	

		
<!-- 		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<h1 class="display-4">RadioLook - Виж това, което слушаш</h1>
				<p class="lead">Информация за българските радиа и парчетата, които пускат</p>
			</div>
		</div> -->
		

		  <div class="jumbotron jumbotron-fluid">
			<div class="container">
				<div class="row">
					<div class="col">
						<img id="tu-logo" class="rounded float-none float-md-right" src="/tu-logo.png" width="140" height="140">
					</div>
					<div id="header-col" class="col-sm-8 text-left">
						<h1 class="display-5">Технически Университет – София</h1>
						<p class="lead">Факултет Приложна Математика и Информатика <br> Катедра Информатика</p>
					</div>
				</div>
			</div>		

		</div>
		
		<div class="blog-post">
			<h1 class="text-center">КУРСОВ ПРОЕКТ</h1>

			<p><strong>Тема:</strong></p>
			<p><strong>Имена на студента: </strong></p>
			<p><strong>Факултетен номер: </strong></p>
			<p><strong>Група: </strong></p>
			<hr>
			<h2>Съдържание:</h2>
			<p>1. Проучване на проблемната област</p>
			<p>2. Цел и задачи на проекта</p>
			<p>3. Софтуерна разработка</p>
			<p>4. Програмна реализация</p>
			<p>5. Експериментални резултати</p>
			
			
			<p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
			<blockquote>
			  <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
			</blockquote>
			<p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
			<h2>Heading</h2>
			<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
			<h3>Sub-heading</h3>
			<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
			<pre><code>Example code block</code></pre>
			<p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
			<h3>Sub-heading</h3>
			<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
			<ul>
			  <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
			  <li>Donec id elit non mi porta gravida at eget metus.</li>
			  <li>Nulla vitae elit libero, a pharetra augue.</li>
			</ul>
			<p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
			<ol>
			  <li>Vestibulum id ligula porta felis euismod semper.</li>
			  <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
			  <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
			</ol>
			<p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
      </div>
		
	</main>
	  
	
	<footer class="page-footer font-small bg-dark">
		<div class="footer-copyright text-center text-light py-2 text-monospace font-weight-bold">© 2020 |
			<a href="#" target="_blank" class="text-light">trpakov</a>
		</div>
	</footer>
	


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  
</body></html>