<!DOCTYPE html><html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/radioPage.css">

    <title>Радио 1 Рок - RadioLook</title>
  </head>
  
  <body>
  
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		  <a class="navbar-brand" href="/"><img src="/logo.png" width="30" height="30" class="d-inline-block align-top" alt=""> RadioLook</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
			  <li class="nav-item">
				<a class="nav-link" href="/">Начало</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/radios">Списък</a>
			  </li>
			  <li class="nav-item dropdown active">
				<a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Радиа</a>
				<div id="radios-dropdown" class="dropdown-menu" aria-labelledby="dropdown01"><a class="dropdown-item" href="/radio/avtoradio">Авторадио</a>
<a class="dropdown-item" href="/radio/bgradio">БГ Радио</a>
<a class="dropdown-item" href="/radio/novanews">Нова Нюз</a>
<a class="dropdown-item" href="/radio/radioenergy">Радио NRJ</a>
<a class="dropdown-item" href="/radio/radio1">Радио 1</a>
<a class="dropdown-item active" href="/radio/radio1rock">Радио 1 Рок</a>
<a class="dropdown-item" href="/radio/radioveronika">Радио Вероника</a>
<a class="dropdown-item" href="/radio/nrj90s">Радио NRJ 90s</a>
<a class="dropdown-item" href="/radio/radionova">Радио Nova</a>
<a class="dropdown-item" href="/radio/radiocity">Радио City</a>
<a class="dropdown-item" href="/radio/bgestrada">Радио БГ Естрада</a>
</div>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/feedback">Контакт</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/about">Относно</a>
			  </li>
			</ul>

		  </div>
		</nav>
		
		<main role="main" class="container">
		
			<div class="modal fade" id="errorModal" tabindex="-1" role="dialog">
			  <div class="modal-dialog" role="document">
				<div class="modal-content">
				  <div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">ВНИМАНИЕ</h5>
					
				  </div>
				  <div class="modal-body">
					<p>В момента изпитваме технически проблеми. Поради това информацията може да не е напълно актуална. Съжаляваме за причиненото неудобство.</p>
				  </div>
				  <div class="modal-footer">
					<!-- <button type="button" class="btn btn-primary">ОБНОВИ</button> -->
					<a class="btn btn-primary" data-dismiss="modal" href="#">РАЗБРАХ</a>
					<a id="stopShowingModal" class="btn btn-primary" data-dismiss="modal" href="#">НЕ ПОКАЗВАЙ ПОВЕЧЕ</a>
				  </div>
				</div>
			  </div>
			</div>
		
		
			<div id="radio-card" class="card text-white mb-3 mt-3">
				<div class="card-header"><h4 id="title">Радио 1 Рок</h4></div>
					<div class="card-body">
						<div class="row" style="text-align:center;">
							<div class="col-md mb-3 mb-md-0">
							  <a class="radio-url" target="_blank" href="https://www.radio1rock.bg/"><img class="image-fluid logo rounded mx-auto d-block" width="60%" src="/radio1rock.png"></a>
							</div>
							<div class="col-sm">
							  <p class="main-text" id="artist">ИЗПЪЛНИТЕЛ/И:<br><span id="artist_name">EVANESCENCE</span></p>
							</div>
							<div class="col-sm">
							   <p class="main-text" id="song">ПЕСЕН:<br><span id="song_name">MY IMMORTAL<span></span></span></p>
							</div>
						</div>
						
						<div class="row mt-3" style="text-align:center;">
							<div class="col-md mb-3 mb-md-0 radioplayer-div">
								<div id="radioplayer-box" class="radioplayer-div">
<script type="text/javascript" src="https://hosted.muses.org/mrp.js"></script>
<script id="radioplayer-script" type="text/javascript">
MRP.insert({
'url':'http://stream.radioreklama.bg/radio1rock.aac',
'lang':'bg',
'codec':'aac',
'volume':20,
'autoplay':false,
'forceHTML5':true,
'jsevents':true,
'buffering':0,
'title':'Радио 1 Рок',
'wmode':'transparent',
'skin':'cassette',
'width':200,
'height':120
});
</script>
</div>
							</div>
							
							<div class="col-md mb-3 mb-md-0">
								<img class="image-fluid artwork rounded mx-auto d-block" id="cover_image" width="60%" src="http://is1.mzstatic.com/image/thumb/Music62/v4/b4/d9/de/b4d9de91-4b85-5c18-0eaa-5b1bbea5189c/source/360x360bb.jpg">
							</div>
							
							<div id="search" class="col-sm"><p>
	<a class="google-link" href="https://www.google.com/search?q=EVANESCENCE+MY IMMORTAL" target="_blank"><i class="fa fa-google" aria-hidden="true"></i> Google</a>
</p>
<p>
	<a class="youtube-link1" href="https://www.youtube.com/results?search_query=EVANESCENCE+MY IMMORTAL" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i> Youtube</a>
</p>
<p>
	<a class="genius-link" href="https://genius.com/search?q=EVANESCENCE+MY IMMORTAL" target="_blank"><i class="fa fa-font" aria-hidden="true"></i> Lyrics</a>
</p>
<p>
	<a class="spotify-link" href="https://play.spotify.com/search/EVANESCENCE MY IMMORTAL" target="_blank"><i class="fa fa-spotify" aria-hidden="true"></i> Spotify</a>
</p></div>
						</div>
					</div>
				
			</div>
		
		
			<table class="table table-responsive-md table-striped table-bordered"> 
				<tbody><tr>
			<td><span class="date">13:37</span></td>
			<td><img class="image-fluid image-thumbnail cover-art" src="https://is5-ssl.mzstatic.com/image/thumb/Music118/v4/89/15/e1/8915e18a-3de0-95e9-2fef-a61e3ae75904/source/360x360bb.jpg" width="100px"></td>
			<td><span class="artist">MUSE</span></td>
			<td><span class="song">Pressure</span></td>
			<td><a class="popupElement" href="#" onclick="return false;" tabindex="-1" data-toggle="popover" data-html="true" data-content="<p>
	<a class=&quot;google-link&quot; href=&quot;https://www.google.com/search?q=MUSE+Pressure&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-google&quot; aria-hidden=&quot;true&quot;></i> Google</a>
</p>
<p>
	<a class=&quot;youtube-link1&quot; href=&quot;https://www.youtube.com/results?search_query=MUSE+Pressure&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-youtube-play&quot; aria-hidden=&quot;true&quot;></i> Youtube</a>
</p>
<p>
	<a class=&quot;genius-link&quot; href=&quot;https://genius.com/search?q=MUSE+Pressure&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-font&quot; aria-hidden=&quot;true&quot;></i> Lyrics</a>
</p>
<p>
	<a class=&quot;spotify-link&quot; href=&quot;https://play.spotify.com/search/MUSE Pressure&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-spotify&quot; aria-hidden=&quot;true&quot;></i> Spotify</a>
</p>"> <i title="Търсене..." class="fa fa-search" aria-hidden="true"></i></a></td>
		</tr><tr>
			<td><span class="date">13:30</span></td>
			<td><img class="image-fluid image-thumbnail cover-art" src="http://is5.mzstatic.com/image/pf/us/r30/Features/26/54/40/dj.eviuvxwe.300x300-75.jpg" width="100px"></td>
			<td><span class="artist">SCORPIONS</span></td>
			<td><span class="song">ROCK YOU LIKE A HURICANE</span></td>
			<td><a class="popupElement" href="#" onclick="return false;" tabindex="-1" data-toggle="popover" data-html="true" data-content="<p>
	<a class=&quot;google-link&quot; href=&quot;https://www.google.com/search?q=SCORPIONS+ROCK YOU LIKE A HURICANE&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-google&quot; aria-hidden=&quot;true&quot;></i> Google</a>
</p>
<p>
	<a class=&quot;youtube-link1&quot; href=&quot;https://www.youtube.com/results?search_query=SCORPIONS+ROCK YOU LIKE A HURICANE&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-youtube-play&quot; aria-hidden=&quot;true&quot;></i> Youtube</a>
</p>
<p>
	<a class=&quot;genius-link&quot; href=&quot;https://genius.com/search?q=SCORPIONS+ROCK YOU LIKE A HURICANE&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-font&quot; aria-hidden=&quot;true&quot;></i> Lyrics</a>
</p>
<p>
	<a class=&quot;spotify-link&quot; href=&quot;https://play.spotify.com/search/SCORPIONS ROCK YOU LIKE A HURICANE&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-spotify&quot; aria-hidden=&quot;true&quot;></i> Spotify</a>
</p>"> <i title="Търсене..." class="fa fa-search" aria-hidden="true"></i></a></td>
		</tr><tr>
			<td><span class="date">13:27</span></td>
			<td><img class="image-fluid image-thumbnail cover-art" src="../cover.jpg" width="100px"></td>
			<td><span class="artist">BIG SLEEP</span></td>
			<td><span class="song">LOOKING FOR A GIRL</span></td>
			<td><a class="popupElement" href="#" onclick="return false;" tabindex="-1" data-toggle="popover" data-html="true" data-content="<p>
	<a class=&quot;google-link&quot; href=&quot;https://www.google.com/search?q=BIG SLEEP+LOOKING FOR A GIRL&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-google&quot; aria-hidden=&quot;true&quot;></i> Google</a>
</p>
<p>
	<a class=&quot;youtube-link1&quot; href=&quot;https://www.youtube.com/results?search_query=BIG SLEEP+LOOKING FOR A GIRL&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-youtube-play&quot; aria-hidden=&quot;true&quot;></i> Youtube</a>
</p>
<p>
	<a class=&quot;genius-link&quot; href=&quot;https://genius.com/search?q=BIG SLEEP+LOOKING FOR A GIRL&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-font&quot; aria-hidden=&quot;true&quot;></i> Lyrics</a>
</p>
<p>
	<a class=&quot;spotify-link&quot; href=&quot;https://play.spotify.com/search/BIG SLEEP LOOKING FOR A GIRL&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-spotify&quot; aria-hidden=&quot;true&quot;></i> Spotify</a>
</p>"> <i title="Търсене..." class="fa fa-search" aria-hidden="true"></i></a></td>
		</tr><tr>
			<td><span class="date">13:24</span></td>
			<td><img class="image-fluid image-thumbnail cover-art" src="http://is5.mzstatic.com/image/thumb/Music3/v4/ac/c0/a0/acc0a072-4411-fa49-2cbb-48846d2f4cd2/source/360x360bb.jpg" width="100px"></td>
			<td><span class="artist">IRON MAIDEN</span></td>
			<td><span class="song">CAN I PLAY WITH MADNESS</span></td>
			<td><a class="popupElement" href="#" onclick="return false;" tabindex="-1" data-toggle="popover" data-html="true" data-content="<p>
	<a class=&quot;google-link&quot; href=&quot;https://www.google.com/search?q=IRON MAIDEN+CAN I PLAY WITH MADNESS&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-google&quot; aria-hidden=&quot;true&quot;></i> Google</a>
</p>
<p>
	<a class=&quot;youtube-link1&quot; href=&quot;https://www.youtube.com/results?search_query=IRON MAIDEN+CAN I PLAY WITH MADNESS&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-youtube-play&quot; aria-hidden=&quot;true&quot;></i> Youtube</a>
</p>
<p>
	<a class=&quot;genius-link&quot; href=&quot;https://genius.com/search?q=IRON MAIDEN+CAN I PLAY WITH MADNESS&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-font&quot; aria-hidden=&quot;true&quot;></i> Lyrics</a>
</p>
<p>
	<a class=&quot;spotify-link&quot; href=&quot;https://play.spotify.com/search/IRON MAIDEN CAN I PLAY WITH MADNESS&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-spotify&quot; aria-hidden=&quot;true&quot;></i> Spotify</a>
</p>"> <i title="Търсене..." class="fa fa-search" aria-hidden="true"></i></a></td>
		</tr><tr>
			<td><span class="date">13:18</span></td>
			<td><img class="image-fluid image-thumbnail cover-art" src="http://is2.mzstatic.com/image/thumb/Music/v4/2b/f6/3c/2bf63cfc-cc76-00cb-0068-6bf782e43876/source/360x360bb.jpg" width="100px"></td>
			<td><span class="artist">DREAM THEATER</span></td>
			<td><span class="song">CAUGHT IN A WEB</span></td>
			<td><a class="popupElement" href="#" onclick="return false;" tabindex="-1" data-toggle="popover" data-html="true" data-content="<p>
	<a class=&quot;google-link&quot; href=&quot;https://www.google.com/search?q=DREAM THEATER+CAUGHT IN A WEB&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-google&quot; aria-hidden=&quot;true&quot;></i> Google</a>
</p>
<p>
	<a class=&quot;youtube-link1&quot; href=&quot;https://www.youtube.com/results?search_query=DREAM THEATER+CAUGHT IN A WEB&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-youtube-play&quot; aria-hidden=&quot;true&quot;></i> Youtube</a>
</p>
<p>
	<a class=&quot;genius-link&quot; href=&quot;https://genius.com/search?q=DREAM THEATER+CAUGHT IN A WEB&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-font&quot; aria-hidden=&quot;true&quot;></i> Lyrics</a>
</p>
<p>
	<a class=&quot;spotify-link&quot; href=&quot;https://play.spotify.com/search/DREAM THEATER CAUGHT IN A WEB&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-spotify&quot; aria-hidden=&quot;true&quot;></i> Spotify</a>
</p>"> <i title="Търсене..." class="fa fa-search" aria-hidden="true"></i></a></td>
		</tr><tr>
			<td><span class="date">13:12</span></td>
			<td><img class="image-fluid image-thumbnail cover-art" src="http://is4.mzstatic.com/image/thumb/Music/v4/c8/a3/90/c8a3900a-f954-2229-eebd-c52e88d8c89d/source/360x360bb.jpg" width="100px"></td>
			<td><span class="artist">ACCEPT</span></td>
			<td><span class="song">METAL HEART</span></td>
			<td><a class="popupElement" href="#" onclick="return false;" tabindex="-1" data-toggle="popover" data-html="true" data-content="<p>
	<a class=&quot;google-link&quot; href=&quot;https://www.google.com/search?q=ACCEPT+METAL HEART&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-google&quot; aria-hidden=&quot;true&quot;></i> Google</a>
</p>
<p>
	<a class=&quot;youtube-link1&quot; href=&quot;https://www.youtube.com/results?search_query=ACCEPT+METAL HEART&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-youtube-play&quot; aria-hidden=&quot;true&quot;></i> Youtube</a>
</p>
<p>
	<a class=&quot;genius-link&quot; href=&quot;https://genius.com/search?q=ACCEPT+METAL HEART&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-font&quot; aria-hidden=&quot;true&quot;></i> Lyrics</a>
</p>
<p>
	<a class=&quot;spotify-link&quot; href=&quot;https://play.spotify.com/search/ACCEPT METAL HEART&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-spotify&quot; aria-hidden=&quot;true&quot;></i> Spotify</a>
</p>"> <i title="Търсене..." class="fa fa-search" aria-hidden="true"></i></a></td>
		</tr><tr>
			<td><span class="date">13:08</span></td>
			<td><img class="image-fluid image-thumbnail cover-art" src="../cover.jpg" width="100px"></td>
			<td><span class="artist">Johnny Gioeli / SEVI</span></td>
			<td><span class="song">Song Of Hope</span></td>
			<td><a class="popupElement" href="#" onclick="return false;" tabindex="-1" data-toggle="popover" data-html="true" data-content="<p>
	<a class=&quot;google-link&quot; href=&quot;https://www.google.com/search?q=Johnny Gioeli / SEVI+Song Of Hope&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-google&quot; aria-hidden=&quot;true&quot;></i> Google</a>
</p>
<p>
	<a class=&quot;youtube-link1&quot; href=&quot;https://www.youtube.com/results?search_query=Johnny Gioeli / SEVI+Song Of Hope&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-youtube-play&quot; aria-hidden=&quot;true&quot;></i> Youtube</a>
</p>
<p>
	<a class=&quot;genius-link&quot; href=&quot;https://genius.com/search?q=Johnny Gioeli / SEVI+Song Of Hope&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-font&quot; aria-hidden=&quot;true&quot;></i> Lyrics</a>
</p>
<p>
	<a class=&quot;spotify-link&quot; href=&quot;https://play.spotify.com/search/Johnny Gioeli / SEVI Song Of Hope&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-spotify&quot; aria-hidden=&quot;true&quot;></i> Spotify</a>
</p>"> <i title="Търсене..." class="fa fa-search" aria-hidden="true"></i></a></td>
		</tr><tr>
			<td><span class="date">13:04</span></td>
			<td><img class="image-fluid image-thumbnail cover-art" src="http://is1.mzstatic.com/image/pf/us/r30/Features/55/92/c4/dj.iqpdjksb.300x300-75.jpg" width="100px"></td>
			<td><span class="artist">GODSMACK</span></td>
			<td><span class="song">I STAND ALONE</span></td>
			<td><a class="popupElement" href="#" onclick="return false;" tabindex="-1" data-toggle="popover" data-html="true" data-content="<p>
	<a class=&quot;google-link&quot; href=&quot;https://www.google.com/search?q=GODSMACK+I STAND ALONE&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-google&quot; aria-hidden=&quot;true&quot;></i> Google</a>
</p>
<p>
	<a class=&quot;youtube-link1&quot; href=&quot;https://www.youtube.com/results?search_query=GODSMACK+I STAND ALONE&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-youtube-play&quot; aria-hidden=&quot;true&quot;></i> Youtube</a>
</p>
<p>
	<a class=&quot;genius-link&quot; href=&quot;https://genius.com/search?q=GODSMACK+I STAND ALONE&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-font&quot; aria-hidden=&quot;true&quot;></i> Lyrics</a>
</p>
<p>
	<a class=&quot;spotify-link&quot; href=&quot;https://play.spotify.com/search/GODSMACK I STAND ALONE&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-spotify&quot; aria-hidden=&quot;true&quot;></i> Spotify</a>
</p>"> <i title="Търсене..." class="fa fa-search" aria-hidden="true"></i></a></td>
		</tr><tr>
			<td><span class="date">12:57</span></td>
			<td><img class="image-fluid image-thumbnail cover-art" src="http://is3.mzstatic.com/image/thumb/Music128/v4/b6/b6/f9/b6b6f9cf-f389-75ea-4244-cbb375ed81ef/source/360x360bb.jpg" width="100px"></td>
			<td><span class="artist">The Flesh Velvet</span></td>
			<td><span class="song">27</span></td>
			<td><a class="popupElement" href="#" onclick="return false;" tabindex="-1" data-toggle="popover" data-html="true" data-content="<p>
	<a class=&quot;google-link&quot; href=&quot;https://www.google.com/search?q=The Flesh Velvet+27&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-google&quot; aria-hidden=&quot;true&quot;></i> Google</a>
</p>
<p>
	<a class=&quot;youtube-link1&quot; href=&quot;https://www.youtube.com/results?search_query=The Flesh Velvet+27&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-youtube-play&quot; aria-hidden=&quot;true&quot;></i> Youtube</a>
</p>
<p>
	<a class=&quot;genius-link&quot; href=&quot;https://genius.com/search?q=The Flesh Velvet+27&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-font&quot; aria-hidden=&quot;true&quot;></i> Lyrics</a>
</p>
<p>
	<a class=&quot;spotify-link&quot; href=&quot;https://play.spotify.com/search/The Flesh Velvet 27&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-spotify&quot; aria-hidden=&quot;true&quot;></i> Spotify</a>
</p>"> <i title="Търсене..." class="fa fa-search" aria-hidden="true"></i></a></td>
		</tr><tr>
			<td><span class="date">12:52</span></td>
			<td><img class="image-fluid image-thumbnail cover-art" src="http://is3.mzstatic.com/image/pf/us/r30/Features/a1/33/cf/dj.pffmihhs.300x300-75.jpg" width="100px"></td>
			<td><span class="artist">LYNYRD SKYNYRD</span></td>
			<td><span class="song">SWEET HOME ALABAMA</span></td>
			<td><a class="popupElement" href="#" onclick="return false;" tabindex="-1" data-toggle="popover" data-html="true" data-content="<p>
	<a class=&quot;google-link&quot; href=&quot;https://www.google.com/search?q=LYNYRD SKYNYRD+SWEET HOME ALABAMA&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-google&quot; aria-hidden=&quot;true&quot;></i> Google</a>
</p>
<p>
	<a class=&quot;youtube-link1&quot; href=&quot;https://www.youtube.com/results?search_query=LYNYRD SKYNYRD+SWEET HOME ALABAMA&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-youtube-play&quot; aria-hidden=&quot;true&quot;></i> Youtube</a>
</p>
<p>
	<a class=&quot;genius-link&quot; href=&quot;https://genius.com/search?q=LYNYRD SKYNYRD+SWEET HOME ALABAMA&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-font&quot; aria-hidden=&quot;true&quot;></i> Lyrics</a>
</p>
<p>
	<a class=&quot;spotify-link&quot; href=&quot;https://play.spotify.com/search/LYNYRD SKYNYRD SWEET HOME ALABAMA&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-spotify&quot; aria-hidden=&quot;true&quot;></i> Spotify</a>
</p>"> <i title="Търсене..." class="fa fa-search" aria-hidden="true"></i></a></td>
		</tr></tbody>
			</table>
			

			<div class="text-center">
				<a id="load-more" href="#" onclick="return false;" style="font-size:300%;" title="Зареди още записи"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i></a>
			</div>
		
		</main>
		
		
		<footer class="page-footer font-small bg-dark">
			<div class="footer-copyright text-center text-light py-2 text-monospace font-weight-bold">© 2020 |
				<a href="#" target="_blank" class="text-light">trpakov</a>
			</div>
		</footer>
	


		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		<script src="/js/radioPage.js"></script>
</body></html>