<!DOCTYPE html><html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/radioPage.css">

    <title>Радио 1 - RadioLook</title>
  </head>
  
  <body>
  
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		  <a class="navbar-brand" href="/"><img src="/logo.png" width="30" height="30" class="d-inline-block align-top" alt=""> RadioLook</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
			  <li class="nav-item">
				<a class="nav-link" href="/">Начало</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/radios">Списък</a>
			  </li>
			  <li class="nav-item dropdown active">
				<a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Радиа</a>
				<div id="radios-dropdown" class="dropdown-menu" aria-labelledby="dropdown01"><a class="dropdown-item" href="/radio/avtoradio">Авторадио</a>
<a class="dropdown-item" href="/radio/bgradio">БГ Радио</a>
<a class="dropdown-item" href="/radio/novanews">Нова Нюз</a>
<a class="dropdown-item" href="/radio/radioenergy">Радио NRJ</a>
<a class="dropdown-item active" href="/radio/radio1">Радио 1</a>
<a class="dropdown-item" href="/radio/radio1rock">Радио 1 Рок</a>
<a class="dropdown-item" href="/radio/radioveronika">Радио Вероника</a>
<a class="dropdown-item" href="/radio/nrj90s">Радио NRJ 90s</a>
<a class="dropdown-item" href="/radio/radionova">Радио Nova</a>
<a class="dropdown-item" href="/radio/radiocity">Радио City</a>
<a class="dropdown-item" href="/radio/bgestrada">Радио БГ Естрада</a>
</div>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/feedback">Контакт</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/about">Относно</a>
			  </li>
			</ul>

		  </div>
		</nav>
		
		<main role="main" class="container">
		
			<div id="radio-card" class="card text-white mb-3 mt-3">
				<div class="card-header"><h4 id="title">Радио 1</h4></div>
					<div class="card-body">
						<div class="row" style="text-align:center;">
							<div class="col-sm">
							  <img class="image-fluid logo rounded mx-auto d-block" width="60%" src="/radio1.png">
							</div>
							<div class="col-sm">
							  <p id="artist">ИЗПЪЛНИТЕЛ/И:<br><span id="artist_name">SCORPIONS</span></p>
							</div>
							<div class="col-sm">
							   <p id="song">ПЕСЕН:<br><span id="song_name">STILL LOVING YOU<span></span></span></p>
							</div>
						</div>
						
						<div class="row mt-3" style="text-align:center;">
							<div class="col-sm">
								<div id="radioplayer-box">
<script type="text/javascript" src="https://hosted.muses.org/mrp.js"></script>
<script id="radioplayer-script" type="text/javascript">
MRP.insert({
'url':'http://stream.radioreklama.bg/radio1.aac',
'lang':'bg',
'codec':'aac',
'volume':20,
'autoplay':false,
'forceHTML5':true,
'jsevents':true,
'buffering':0,
'title':'Радио 1',
'wmode':'transparent',
'skin':'cassette',
'width':200,
'height':120
});
</script>
</div>
							</div>
							
							<div class="col-sm">
								<img class="image-fluid artwork rounded mx-auto d-block" id="cover_image" width="60%" src="http://is5.mzstatic.com/image/pf/us/r30/Features/26/54/40/dj.eviuvxwe.300x300-75.jpg">
							</div>
							
							<div id="search" class="col-sm"><p>
	<a class="google-link" href="https://www.google.com/search?q=SCORPIONS+STILL LOVING YOU" target="_blank"><i class="fa fa-google" aria-hidden="true"></i> Google</a>
</p>
<p>
	<a class="youtube-link1" href="https://www.youtube.com/results?search_query=SCORPIONS+STILL LOVING YOU" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i> Youtube</a>
</p>
<p>
	<a class="genius-link" href="https://genius.com/search?q=SCORPIONS+STILL LOVING YOU" target="_blank"><i class="fa fa-font" aria-hidden="true"></i> Lyrics</a>
</p>
<p>
	<a class="spotify-link" href="https://play.spotify.com/search/SCORPIONS STILL LOVING YOU" target="_blank"><i class="fa fa-spotify" aria-hidden="true"></i> Spotify</a>
</p></div>
						</div>
					</div>
				
			</div>
		
		
			<table class="table table-responsive-md table-striped table-bordered"> 
				<tbody><tr>
			<td class="text-center"><span class="date">18:57</span></td>
			<td class="text-center"><img class="image-fluid image-thumbnail cover-art" src="http://is5.mzstatic.com/image/pf/us/r30/Features/26/54/40/dj.eviuvxwe.300x300-75.jpg" width="100px"></td>
			<td class="text-center"><span class="artist">SCORPIONS</span></td>
			<td class="text-center"><span class="song">STILL LOVING YOU</span></td>
			<td class="text-center" style="white-space:nowrap;"><a class="popupElement" href="#" onclick="return false;" tabindex="-1" data-toggle="popover" data-html="true" data-content="<p>
	<a class=&quot;google-link&quot; href=&quot;https://www.google.com/search?q=SCORPIONS+STILL LOVING YOU&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-google&quot; aria-hidden=&quot;true&quot;></i> Google</a>
</p>
<p>
	<a class=&quot;youtube-link1&quot; href=&quot;https://www.youtube.com/results?search_query=SCORPIONS+STILL LOVING YOU&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-youtube-play&quot; aria-hidden=&quot;true&quot;></i> Youtube</a>
</p>
<p>
	<a class=&quot;genius-link&quot; href=&quot;https://genius.com/search?q=SCORPIONS+STILL LOVING YOU&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-font&quot; aria-hidden=&quot;true&quot;></i> Lyrics</a>
</p>
<p>
	<a class=&quot;spotify-link&quot; href=&quot;https://play.spotify.com/search/SCORPIONS STILL LOVING YOU&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-spotify&quot; aria-hidden=&quot;true&quot;></i> Spotify</a>
</p>"> <i title="Търсене..." class="fa fa-search" aria-hidden="true"></i></a></td>
		</tr><tr>
			<td class="text-center"><span class="date">18:51</span></td>
			<td class="text-center"><img class="image-fluid image-thumbnail cover-art" src="http://is5.mzstatic.com/image/thumb/Music/v4/b5/be/06/b5be06a9-10f3-088c-99d2-8186e95617d9/source/360x360bb.jpg" width="100px"></td>
			<td class="text-center"><span class="artist">JENNIFER RUSH / CELINE DION</span></td>
			<td class="text-center"><span class="song">THE POWER OF LOVE</span></td>
			<td class="text-center" style="white-space:nowrap;"><a class="popupElement" href="#" onclick="return false;" tabindex="-1" data-toggle="popover" data-html="true" data-content="<p>
	<a class=&quot;google-link&quot; href=&quot;https://www.google.com/search?q=JENNIFER RUSH / CELINE DION+THE POWER OF LOVE&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-google&quot; aria-hidden=&quot;true&quot;></i> Google</a>
</p>
<p>
	<a class=&quot;youtube-link1&quot; href=&quot;https://www.youtube.com/results?search_query=JENNIFER RUSH / CELINE DION+THE POWER OF LOVE&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-youtube-play&quot; aria-hidden=&quot;true&quot;></i> Youtube</a>
</p>
<p>
	<a class=&quot;genius-link&quot; href=&quot;https://genius.com/search?q=JENNIFER RUSH / CELINE DION+THE POWER OF LOVE&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-font&quot; aria-hidden=&quot;true&quot;></i> Lyrics</a>
</p>
<p>
	<a class=&quot;spotify-link&quot; href=&quot;https://play.spotify.com/search/JENNIFER RUSH / CELINE DION THE POWER OF LOVE&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-spotify&quot; aria-hidden=&quot;true&quot;></i> Spotify</a>
</p>"> <i title="Търсене..." class="fa fa-search" aria-hidden="true"></i></a></td>
		</tr><tr>
			<td class="text-center"><span class="date">18:48</span></td>
			<td class="text-center"><img class="image-fluid image-thumbnail cover-art" src="http://is5.mzstatic.com/image/thumb/Music/v4/b5/be/06/b5be06a9-10f3-088c-99d2-8186e95617d9/source/360x360bb.jpg" width="100px"></td>
			<td class="text-center"><span class="artist">JENNIFER RUSH / CELINE DION</span></td>
			<td class="text-center"><span class="song">THE POWER OF LOVE</span></td>
			<td class="text-center" style="white-space:nowrap;"><a class="popupElement" href="#" onclick="return false;" tabindex="-1" data-toggle="popover" data-html="true" data-content="<p>
	<a class=&quot;google-link&quot; href=&quot;https://www.google.com/search?q=JENNIFER RUSH / CELINE DION+THE POWER OF LOVE&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-google&quot; aria-hidden=&quot;true&quot;></i> Google</a>
</p>
<p>
	<a class=&quot;youtube-link1&quot; href=&quot;https://www.youtube.com/results?search_query=JENNIFER RUSH / CELINE DION+THE POWER OF LOVE&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-youtube-play&quot; aria-hidden=&quot;true&quot;></i> Youtube</a>
</p>
<p>
	<a class=&quot;genius-link&quot; href=&quot;https://genius.com/search?q=JENNIFER RUSH / CELINE DION+THE POWER OF LOVE&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-font&quot; aria-hidden=&quot;true&quot;></i> Lyrics</a>
</p>
<p>
	<a class=&quot;spotify-link&quot; href=&quot;https://play.spotify.com/search/JENNIFER RUSH / CELINE DION THE POWER OF LOVE&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-spotify&quot; aria-hidden=&quot;true&quot;></i> Spotify</a>
</p>"> <i title="Търсене..." class="fa fa-search" aria-hidden="true"></i></a></td>
		</tr><tr>
			<td class="text-center"><span class="date">16:19</span></td>
			<td class="text-center"><img class="image-fluid image-thumbnail cover-art" src="../cover.jpg" width="100px"></td>
			<td class="text-center"><span class="artist">SHAKIN' STEVENS</span></td>
			<td class="text-center"><span class="song">OH JULIE</span></td>
			<td class="text-center" style="white-space:nowrap;"><a class="popupElement" href="#" onclick="return false;" tabindex="-1" data-toggle="popover" data-html="true" data-content="<p>
	<a class=&quot;google-link&quot; href=&quot;https://www.google.com/search?q=SHAKIN' STEVENS+OH JULIE&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-google&quot; aria-hidden=&quot;true&quot;></i> Google</a>
</p>
<p>
	<a class=&quot;youtube-link1&quot; href=&quot;https://www.youtube.com/results?search_query=SHAKIN' STEVENS+OH JULIE&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-youtube-play&quot; aria-hidden=&quot;true&quot;></i> Youtube</a>
</p>
<p>
	<a class=&quot;genius-link&quot; href=&quot;https://genius.com/search?q=SHAKIN' STEVENS+OH JULIE&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-font&quot; aria-hidden=&quot;true&quot;></i> Lyrics</a>
</p>
<p>
	<a class=&quot;spotify-link&quot; href=&quot;https://play.spotify.com/search/SHAKIN' STEVENS OH JULIE&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-spotify&quot; aria-hidden=&quot;true&quot;></i> Spotify</a>
</p>"> <i title="Търсене..." class="fa fa-search" aria-hidden="true"></i></a></td>
		</tr><tr>
			<td class="text-center"><span class="date">16:15</span></td>
			<td class="text-center"><img class="image-fluid image-thumbnail cover-art" src="../cover.jpg" width="100px"></td>
			<td class="text-center"><span class="artist">STEFKA SYBOTINOVA</span></td>
			<td class="text-center"><span class="song">PRITURI SE PLANINATA</span></td>
			<td class="text-center" style="white-space:nowrap;"><a class="popupElement" href="#" onclick="return false;" tabindex="-1" data-toggle="popover" data-html="true" data-content="<p>
	<a class=&quot;google-link&quot; href=&quot;https://www.google.com/search?q=STEFKA SYBOTINOVA+PRITURI SE PLANINATA&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-google&quot; aria-hidden=&quot;true&quot;></i> Google</a>
</p>
<p>
	<a class=&quot;youtube-link1&quot; href=&quot;https://www.youtube.com/results?search_query=STEFKA SYBOTINOVA+PRITURI SE PLANINATA&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-youtube-play&quot; aria-hidden=&quot;true&quot;></i> Youtube</a>
</p>
<p>
	<a class=&quot;genius-link&quot; href=&quot;https://genius.com/search?q=STEFKA SYBOTINOVA+PRITURI SE PLANINATA&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-font&quot; aria-hidden=&quot;true&quot;></i> Lyrics</a>
</p>
<p>
	<a class=&quot;spotify-link&quot; href=&quot;https://play.spotify.com/search/STEFKA SYBOTINOVA PRITURI SE PLANINATA&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-spotify&quot; aria-hidden=&quot;true&quot;></i> Spotify</a>
</p>"> <i title="Търсене..." class="fa fa-search" aria-hidden="true"></i></a></td>
		</tr><tr>
			<td class="text-center"><span class="date">16:10</span></td>
			<td class="text-center"><img class="image-fluid image-thumbnail cover-art" src="http://is2.mzstatic.com/image/thumb/Music/v4/ae/8c/76/ae8c7612-ebc9-5176-83aa-d8f9c9ad2cef/source/360x360bb.jpg" width="100px"></td>
			<td class="text-center"><span class="artist">WHAM / GEORGE MICHAEL</span></td>
			<td class="text-center"><span class="song">CARELESS WHISPER</span></td>
			<td class="text-center" style="white-space:nowrap;"><a class="popupElement" href="#" onclick="return false;" tabindex="-1" data-toggle="popover" data-html="true" data-content="<p>
	<a class=&quot;google-link&quot; href=&quot;https://www.google.com/search?q=WHAM / GEORGE MICHAEL+CARELESS WHISPER&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-google&quot; aria-hidden=&quot;true&quot;></i> Google</a>
</p>
<p>
	<a class=&quot;youtube-link1&quot; href=&quot;https://www.youtube.com/results?search_query=WHAM / GEORGE MICHAEL+CARELESS WHISPER&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-youtube-play&quot; aria-hidden=&quot;true&quot;></i> Youtube</a>
</p>
<p>
	<a class=&quot;genius-link&quot; href=&quot;https://genius.com/search?q=WHAM / GEORGE MICHAEL+CARELESS WHISPER&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-font&quot; aria-hidden=&quot;true&quot;></i> Lyrics</a>
</p>
<p>
	<a class=&quot;spotify-link&quot; href=&quot;https://play.spotify.com/search/WHAM / GEORGE MICHAEL CARELESS WHISPER&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-spotify&quot; aria-hidden=&quot;true&quot;></i> Spotify</a>
</p>"> <i title="Търсене..." class="fa fa-search" aria-hidden="true"></i></a></td>
		</tr><tr>
			<td class="text-center"><span class="date">16:06</span></td>
			<td class="text-center"><img class="image-fluid image-thumbnail cover-art" src="http://is5.mzstatic.com/image/thumb/Music/fe/fe/12/mzi.qdifbpvy.jpg/360x360bb.jpg" width="100px"></td>
			<td class="text-center"><span class="artist">DUFFY</span></td>
			<td class="text-center"><span class="song">MERCY</span></td>
			<td class="text-center" style="white-space:nowrap;"><a class="popupElement" href="#" onclick="return false;" tabindex="-1" data-toggle="popover" data-html="true" data-content="<p>
	<a class=&quot;google-link&quot; href=&quot;https://www.google.com/search?q=DUFFY+MERCY&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-google&quot; aria-hidden=&quot;true&quot;></i> Google</a>
</p>
<p>
	<a class=&quot;youtube-link1&quot; href=&quot;https://www.youtube.com/results?search_query=DUFFY+MERCY&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-youtube-play&quot; aria-hidden=&quot;true&quot;></i> Youtube</a>
</p>
<p>
	<a class=&quot;genius-link&quot; href=&quot;https://genius.com/search?q=DUFFY+MERCY&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-font&quot; aria-hidden=&quot;true&quot;></i> Lyrics</a>
</p>
<p>
	<a class=&quot;spotify-link&quot; href=&quot;https://play.spotify.com/search/DUFFY MERCY&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-spotify&quot; aria-hidden=&quot;true&quot;></i> Spotify</a>
</p>"> <i title="Търсене..." class="fa fa-search" aria-hidden="true"></i></a></td>
		</tr><tr>
			<td class="text-center"><span class="date">16:03</span></td>
			<td class="text-center"><img class="image-fluid image-thumbnail cover-art" src="../cover.jpg" width="100px"></td>
			<td class="text-center"><span class="artist">GINA G</span></td>
			<td class="text-center"><span class="song">TI AMO</span></td>
			<td class="text-center" style="white-space:nowrap;"><a class="popupElement" href="#" onclick="return false;" tabindex="-1" data-toggle="popover" data-html="true" data-content="<p>
	<a class=&quot;google-link&quot; href=&quot;https://www.google.com/search?q=GINA G+TI AMO&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-google&quot; aria-hidden=&quot;true&quot;></i> Google</a>
</p>
<p>
	<a class=&quot;youtube-link1&quot; href=&quot;https://www.youtube.com/results?search_query=GINA G+TI AMO&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-youtube-play&quot; aria-hidden=&quot;true&quot;></i> Youtube</a>
</p>
<p>
	<a class=&quot;genius-link&quot; href=&quot;https://genius.com/search?q=GINA G+TI AMO&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-font&quot; aria-hidden=&quot;true&quot;></i> Lyrics</a>
</p>
<p>
	<a class=&quot;spotify-link&quot; href=&quot;https://play.spotify.com/search/GINA G TI AMO&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-spotify&quot; aria-hidden=&quot;true&quot;></i> Spotify</a>
</p>"> <i title="Търсене..." class="fa fa-search" aria-hidden="true"></i></a></td>
		</tr><tr>
			<td class="text-center"><span class="date">15:56</span></td>
			<td class="text-center"><img class="image-fluid image-thumbnail cover-art" src="../cover.jpg" width="100px"></td>
			<td class="text-center"><span class="artist">ORLIN GORANOV</span></td>
			<td class="text-center"><span class="song">SVETYT E ZA DVAMA</span></td>
			<td class="text-center" style="white-space:nowrap;"><a class="popupElement" href="#" onclick="return false;" tabindex="-1" data-toggle="popover" data-html="true" data-content="<p>
	<a class=&quot;google-link&quot; href=&quot;https://www.google.com/search?q=ORLIN GORANOV+SVETYT E ZA DVAMA&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-google&quot; aria-hidden=&quot;true&quot;></i> Google</a>
</p>
<p>
	<a class=&quot;youtube-link1&quot; href=&quot;https://www.youtube.com/results?search_query=ORLIN GORANOV+SVETYT E ZA DVAMA&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-youtube-play&quot; aria-hidden=&quot;true&quot;></i> Youtube</a>
</p>
<p>
	<a class=&quot;genius-link&quot; href=&quot;https://genius.com/search?q=ORLIN GORANOV+SVETYT E ZA DVAMA&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-font&quot; aria-hidden=&quot;true&quot;></i> Lyrics</a>
</p>
<p>
	<a class=&quot;spotify-link&quot; href=&quot;https://play.spotify.com/search/ORLIN GORANOV SVETYT E ZA DVAMA&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-spotify&quot; aria-hidden=&quot;true&quot;></i> Spotify</a>
</p>"> <i title="Търсене..." class="fa fa-search" aria-hidden="true"></i></a></td>
		</tr><tr>
			<td class="text-center"><span class="date">15:53</span></td>
			<td class="text-center"><img class="image-fluid image-thumbnail cover-art" src="http://is5.mzstatic.com/image/pf/us/r30/Features4/v4/e5/3a/30/e53a30c9-d4bb-a484-9c57-56f93334c287/dj.xahwwdre.300x300-75.jpg" width="100px"></td>
			<td class="text-center"><span class="artist">Michael Jackson</span></td>
			<td class="text-center"><span class="song">BLACK OR WHITE</span></td>
			<td class="text-center" style="white-space:nowrap;"><a class="popupElement" href="#" onclick="return false;" tabindex="-1" data-toggle="popover" data-html="true" data-content="<p>
	<a class=&quot;google-link&quot; href=&quot;https://www.google.com/search?q=Michael Jackson+BLACK OR WHITE&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-google&quot; aria-hidden=&quot;true&quot;></i> Google</a>
</p>
<p>
	<a class=&quot;youtube-link1&quot; href=&quot;https://www.youtube.com/results?search_query=Michael Jackson+BLACK OR WHITE&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-youtube-play&quot; aria-hidden=&quot;true&quot;></i> Youtube</a>
</p>
<p>
	<a class=&quot;genius-link&quot; href=&quot;https://genius.com/search?q=Michael Jackson+BLACK OR WHITE&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-font&quot; aria-hidden=&quot;true&quot;></i> Lyrics</a>
</p>
<p>
	<a class=&quot;spotify-link&quot; href=&quot;https://play.spotify.com/search/Michael Jackson BLACK OR WHITE&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-spotify&quot; aria-hidden=&quot;true&quot;></i> Spotify</a>
</p>"> <i title="Търсене..." class="fa fa-search" aria-hidden="true"></i></a></td>
		</tr></tbody>
			</table>
			

			<div class="text-center">
				<a href="#" onclick="return false;" style="font-size:300%;" title="Зареди още записи"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i></a>
			</div>
		
		</main>
		
		
		<footer class="page-footer font-small bg-dark">
			<div class="footer-copyright text-center text-light py-2 text-monospace font-weight-bold">© 2020 |
				<a href="#" target="_blank" class="text-light">trpakov</a>
			</div>
		</footer>
	


		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		<script src="/js/radioPage.js"></script>
<script id="popoverScript">$(".popupElement").each(function() { var $this = $(this); $this.popover({ trigger: "focus"}) });</script></body></html>