<!DOCTYPE html><html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/radioList.css">

    <title>RadioLook - Списък</title>
  </head>
  
  <body>
			<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		  <a class="navbar-brand" href="/"><img src="/logo.png" width="30" height="30" class="d-inline-block align-top" alt=""> RadioLook</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
			  <li class="nav-item">
				<a class="nav-link" href="/">Начало</a>
			  </li>
			  <li class="nav-item active">
				<a class="nav-link" href="/radios">Списък<span class="sr-only">(current)</span></a>
			  </li>
			  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Радиа</a>
				<div id="radios-dropdown" class="dropdown-menu" aria-labelledby="dropdown01"><a class="dropdown-item" href="/radio/avtoradio">Авторадио</a>
<a class="dropdown-item" href="/radio/bgradio">БГ Радио</a>
<a class="dropdown-item" href="/radio/novanews">Нова Нюз</a>
<a class="dropdown-item" href="/radio/radioenergy">Радио NRJ</a>
<a class="dropdown-item" href="/radio/radio1">Радио 1</a>
<a class="dropdown-item" href="/radio/radio1rock">Радио 1 Рок</a>
<a class="dropdown-item" href="/radio/radioveronika">Радио Вероника</a>
<a class="dropdown-item" href="/radio/nrj90s">Радио NRJ 90s</a>
<a class="dropdown-item" href="/radio/radionova">Радио Nova</a>
<a class="dropdown-item" href="/radio/radiocity">Радио City</a>
<a class="dropdown-item" href="/radio/bgestrada">Радио БГ Естрада</a>
</div>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/feedback">Контакт</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/about">Относно</a>
			  </li>
			</ul>

		  </div>
		</nav>
	
	<main role="main" class="container">	
	
		<div class="modal fade" id="errorModal" tabindex="-1" role="dialog">
		  <div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">ВНИМАНИЕ</h5>
				
			  </div>
			  <div class="modal-body">
				<p>В момента изпитваме технически проблеми. Поради това информацията може да не е напълно актуална. Съжаляваме за причиненото неудобство.</p>
			  </div>
			  <div class="modal-footer">
				<!-- <button type="button" class="btn btn-primary">ОБНОВИ</button> -->
				<a class="btn btn-primary" data-dismiss="modal" href="#">РАЗБРАХ</a>
				<a id="stopShowingModal" class="btn btn-primary" data-dismiss="modal" href="#">НЕ ПОКАЗВАЙ ПОВЕЧЕ</a>
			  </div>
			</div>
		  </div>
		</div>	 
		 
		 <table class="table table-responsive-md table-striped table-bordered">
			<thead class="thead-dark">
				<tr>
					<th>Радио</th>
					<th>Име</th>
					<th>Текущи слушатели</th>
					<th>Пикови слушатели</th>
					<th>Жанр</th>
					<th>Текуща песен</th>
					<th>Външен плейър</th>				
				</tr>
			</thead>
		 
			<tbody><tr>
			<td><a class="link" href="https://avtoradio.bg/" target="_blank"><img class="image-fluid image-thumbnail logo" src="/avtoradio.png" width="100px"></a></td>
			<td><span class="name">Авторадио</span></td>
			<td><span class="currentListeners">2</span></td>
			<td><span class="peakListeners">39</span></td>
			<td><span class="genre">Pop</span></td>
			<td class="currentSongCell"><span class="currentSong">A$ap Ferg Ft. Nicki Minaj - Plain Jane (Ilkan Gunuc Remix)</span><a class="popupElement" href="#" onclick="return false;" tabindex="-1" data-toggle="popover" data-html="true" data-content="<p>
	<a class=&quot;google-link&quot; href=&quot;https://www.google.com/search?q=A$ap+Ferg+Ft.+Nicki+Minaj+-+Plain+Jane+(Ilkan+Gunuc+Remix)&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-google&quot; aria-hidden=&quot;true&quot;></i> Google</a>
</p>
<p>
	<a class=&quot;youtube-link1&quot; href=&quot;https://www.youtube.com/results?search_query=A$ap+Ferg+Ft.+Nicki+Minaj+-+Plain+Jane+(Ilkan+Gunuc+Remix)&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-youtube-play&quot; aria-hidden=&quot;true&quot;></i> Youtube</a>
</p>
<p>
	<a class=&quot;genius-link&quot; href=&quot;https://genius.com/search?q=A$ap+Ferg+Ft.+Nicki+Minaj+-+Plain+Jane+(Ilkan+Gunuc+Remix)&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-font&quot; aria-hidden=&quot;true&quot;></i> Lyrics</a>
</p>
<p>
	<a class=&quot;spotify-link&quot; href=&quot;&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-spotify&quot; aria-hidden=&quot;true&quot;></i> Spotify</a>
</p>"> <i title="Търсене..." class="fa fa-search" aria-hidden="true"></i></a></td>
			<td><a class="externalPlayer" href="http://stream.radioreklama.bg/avtoradio.aac.m3u"><i class="fa fa-download fa-lg" aria-hidden="true"></i></a></td>
		</tr><tr>
			<td><a class="link" href="https://www.bgradio.bg" target="_blank"><img class="image-fluid image-thumbnail logo" src="/bgradio.png" width="100px"></a></td>
			<td><span class="name">БГ Радио</span></td>
			<td><span class="currentListeners">71</span></td>
			<td><span class="peakListeners">221</span></td>
			<td><span class="genre">BG Pop Music</span></td>
			<td class="currentSongCell"><span class="currentSong">АКСИНИЯ И  БОРИС И КУ-КУ-БЕНД - НЕ СМЕ СВЕТЦИ</span><a class="popupElement" href="#" onclick="return false;" tabindex="-1" data-toggle="popover" data-html="true" data-content="<p>
	<a class=&quot;google-link&quot; href=&quot;https://www.google.com/search?q=АКСИНИЯ+И++БОРИС+И+КУ-КУ-БЕНД+-+НЕ+СМЕ+СВЕТЦИ&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-google&quot; aria-hidden=&quot;true&quot;></i> Google</a>
</p>
<p>
	<a class=&quot;youtube-link1&quot; href=&quot;https://www.youtube.com/results?search_query=АКСИНИЯ+И++БОРИС+И+КУ-КУ-БЕНД+-+НЕ+СМЕ+СВЕТЦИ&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-youtube-play&quot; aria-hidden=&quot;true&quot;></i> Youtube</a>
</p>
<p>
	<a class=&quot;genius-link&quot; href=&quot;https://genius.com/search?q=АКСИНИЯ+И++БОРИС+И+КУ-КУ-БЕНД+-+НЕ+СМЕ+СВЕТЦИ&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-font&quot; aria-hidden=&quot;true&quot;></i> Lyrics</a>
</p>
<p>
	<a class=&quot;spotify-link&quot; href=&quot;&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-spotify&quot; aria-hidden=&quot;true&quot;></i> Spotify</a>
</p>"> <i title="Търсене..." class="fa fa-search" aria-hidden="true"></i></a></td>
			<td><a class="externalPlayer" href="http://stream.radioreklama.bg/bgradio.aac.m3u"><i class="fa fa-download fa-lg" aria-hidden="true"></i></a></td>
		</tr><tr>
			<td><a class="link" href="https://nova.bg/radio" target="_blank"><img class="image-fluid image-thumbnail logo" src="/novanews.png" width="100px"></a></td>
			<td><span class="name">Нова Нюз</span></td>
			<td><span class="currentListeners">218</span></td>
			<td><span class="peakListeners">381</span></td>
			<td><span class="genre">Various</span></td>
			<td class="currentSongCell"><span class="currentSong">Klingande  -  Jubel</span><a class="popupElement" href="#" onclick="return false;" tabindex="-1" data-toggle="popover" data-html="true" data-content="<p>
	<a class=&quot;google-link&quot; href=&quot;https://www.google.com/search?q=Klingande++-++Jubel&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-google&quot; aria-hidden=&quot;true&quot;></i> Google</a>
</p>
<p>
	<a class=&quot;youtube-link1&quot; href=&quot;https://www.youtube.com/results?search_query=Klingande++-++Jubel&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-youtube-play&quot; aria-hidden=&quot;true&quot;></i> Youtube</a>
</p>
<p>
	<a class=&quot;genius-link&quot; href=&quot;https://genius.com/search?q=Klingande++-++Jubel&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-font&quot; aria-hidden=&quot;true&quot;></i> Lyrics</a>
</p>
<p>
	<a class=&quot;spotify-link&quot; href=&quot;&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-spotify&quot; aria-hidden=&quot;true&quot;></i> Spotify</a>
</p>"> <i title="Търсене..." class="fa fa-search" aria-hidden="true"></i></a></td>
			<td><a class="externalPlayer" href="http://stream.radioreklama.bg/novanews.aac.m3u"><i class="fa fa-download fa-lg" aria-hidden="true"></i></a></td>
		</tr><tr>
			<td><a class="link" href="https://radioenergy.bg/" target="_blank"><img class="image-fluid image-thumbnail logo" src="/radioenergy.png" width="100px"></a></td>
			<td><span class="name">Радио NRJ</span></td>
			<td><span class="currentListeners">203</span></td>
			<td><span class="peakListeners">297</span></td>
			<td><span class="genre">Pop Music</span></td>
			<td class="currentSongCell"><span class="currentSong">DIDDY - I'LL BE MISSING YOU</span><a class="popupElement" href="#" onclick="return false;" tabindex="-1" data-toggle="popover" data-html="true" data-content="<p>
	<a class=&quot;google-link&quot; href=&quot;https://www.google.com/search?q=DIDDY+-+I'LL+BE+MISSING+YOU&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-google&quot; aria-hidden=&quot;true&quot;></i> Google</a>
</p>
<p>
	<a class=&quot;youtube-link1&quot; href=&quot;https://www.youtube.com/results?search_query=DIDDY+-+I'LL+BE+MISSING+YOU&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-youtube-play&quot; aria-hidden=&quot;true&quot;></i> Youtube</a>
</p>
<p>
	<a class=&quot;genius-link&quot; href=&quot;https://genius.com/search?q=DIDDY+-+I'LL+BE+MISSING+YOU&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-font&quot; aria-hidden=&quot;true&quot;></i> Lyrics</a>
</p>
<p>
	<a class=&quot;spotify-link&quot; href=&quot;&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-spotify&quot; aria-hidden=&quot;true&quot;></i> Spotify</a>
</p>"> <i title="Търсене..." class="fa fa-search" aria-hidden="true"></i></a></td>
			<td><a class="externalPlayer" href="http://stream.radioreklama.bg/nrj.aac.m3u"><i class="fa fa-download fa-lg" aria-hidden="true"></i></a></td>
		</tr><tr>
			<td><a class="link" href="https://www.radio1.bg/" target="_blank"><img class="image-fluid image-thumbnail logo" src="/radio1.png" width="100px"></a></td>
			<td><span class="name">Радио 1</span></td>
			<td><span class="currentListeners">71</span></td>
			<td><span class="peakListeners">396</span></td>
			<td><span class="genre">Pop Music</span></td>
			<td class="currentSongCell"><span class="currentSong">GEORGE EZRA - Shotgun</span><a class="popupElement" href="#" onclick="return false;" tabindex="-1" data-toggle="popover" data-html="true" data-content="<p>
	<a class=&quot;google-link&quot; href=&quot;https://www.google.com/search?q=GEORGE+EZRA+-+Shotgun&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-google&quot; aria-hidden=&quot;true&quot;></i> Google</a>
</p>
<p>
	<a class=&quot;youtube-link1&quot; href=&quot;https://www.youtube.com/results?search_query=GEORGE+EZRA+-+Shotgun&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-youtube-play&quot; aria-hidden=&quot;true&quot;></i> Youtube</a>
</p>
<p>
	<a class=&quot;genius-link&quot; href=&quot;https://genius.com/search?q=GEORGE+EZRA+-+Shotgun&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-font&quot; aria-hidden=&quot;true&quot;></i> Lyrics</a>
</p>
<p>
	<a class=&quot;spotify-link&quot; href=&quot;&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-spotify&quot; aria-hidden=&quot;true&quot;></i> Spotify</a>
</p>"> <i title="Търсене..." class="fa fa-search" aria-hidden="true"></i></a></td>
			<td><a class="externalPlayer" href="http://stream.radioreklama.bg/radio1.aac.m3u"><i class="fa fa-download fa-lg" aria-hidden="true"></i></a></td>
		</tr><tr>
			<td><a class="link" href="https://www.radio1rock.bg/" target="_blank"><img class="image-fluid image-thumbnail logo" src="/radio1rock.png" width="100px"></a></td>
			<td><span class="name">Радио 1 Рок</span></td>
			<td><span class="currentListeners">48</span></td>
			<td><span class="peakListeners">309</span></td>
			<td><span class="genre">Rock Music</span></td>
			<td class="currentSongCell"><span class="currentSong">MUSE - SUPERMASSIVE BLACK HOLE</span><a class="popupElement" href="#" onclick="return false;" tabindex="-1" data-toggle="popover" data-html="true" data-content="<p>
	<a class=&quot;google-link&quot; href=&quot;https://www.google.com/search?q=MUSE+-+SUPERMASSIVE+BLACK+HOLE&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-google&quot; aria-hidden=&quot;true&quot;></i> Google</a>
</p>
<p>
	<a class=&quot;youtube-link1&quot; href=&quot;https://www.youtube.com/results?search_query=MUSE+-+SUPERMASSIVE+BLACK+HOLE&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-youtube-play&quot; aria-hidden=&quot;true&quot;></i> Youtube</a>
</p>
<p>
	<a class=&quot;genius-link&quot; href=&quot;https://genius.com/search?q=MUSE+-+SUPERMASSIVE+BLACK+HOLE&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-font&quot; aria-hidden=&quot;true&quot;></i> Lyrics</a>
</p>
<p>
	<a class=&quot;spotify-link&quot; href=&quot;&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-spotify&quot; aria-hidden=&quot;true&quot;></i> Spotify</a>
</p>"> <i title="Търсене..." class="fa fa-search" aria-hidden="true"></i></a></td>
			<td><a class="externalPlayer" href="http://stream.radioreklama.bg/radio1rock.aac.m3u"><i class="fa fa-download fa-lg" aria-hidden="true"></i></a></td>
		</tr><tr>
			<td><a class="link" href="https://radioveronika.bg" target="_blank"><img class="image-fluid image-thumbnail logo" src="/radioveronika.png" width="100px"></a></td>
			<td><span class="name">Радио Вероника</span></td>
			<td><span class="currentListeners">81</span></td>
			<td><span class="peakListeners">1357</span></td>
			<td><span class="genre">Pop Music</span></td>
			<td class="currentSongCell"><span class="currentSong">RADIO VERONIKA - РИТЪМЪТ НА СЪРЦЕТО</span><a class="popupElement" href="#" onclick="return false;" tabindex="-1" data-toggle="popover" data-html="true" data-content="<p>
	<a class=&quot;google-link&quot; href=&quot;https://www.google.com/search?q=RADIO+VERONIKA+-+РИТЪМЪТ+НА+СЪРЦЕТО&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-google&quot; aria-hidden=&quot;true&quot;></i> Google</a>
</p>
<p>
	<a class=&quot;youtube-link1&quot; href=&quot;https://www.youtube.com/results?search_query=RADIO+VERONIKA+-+РИТЪМЪТ+НА+СЪРЦЕТО&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-youtube-play&quot; aria-hidden=&quot;true&quot;></i> Youtube</a>
</p>
<p>
	<a class=&quot;genius-link&quot; href=&quot;https://genius.com/search?q=RADIO+VERONIKA+-+РИТЪМЪТ+НА+СЪРЦЕТО&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-font&quot; aria-hidden=&quot;true&quot;></i> Lyrics</a>
</p>
<p>
	<a class=&quot;spotify-link&quot; href=&quot;&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-spotify&quot; aria-hidden=&quot;true&quot;></i> Spotify</a>
</p>"> <i title="Търсене..." class="fa fa-search" aria-hidden="true"></i></a></td>
			<td><a class="externalPlayer" href="http://stream.radioreklama.bg/veronika.aac.m3u"><i class="fa fa-download fa-lg" aria-hidden="true"></i></a></td>
		</tr><tr>
			<td><a class="link" href="https://radioenergy.bg/" target="_blank"><img class="image-fluid image-thumbnail logo" src="/nrj90s.png" width="100px"></a></td>
			<td><span class="name">Радио NRJ 90s</span></td>
			<td><span class="currentListeners">4</span></td>
			<td><span class="peakListeners">86</span></td>
			<td><span class="genre">POP</span></td>
			<td class="currentSongCell"><span class="currentSong">90's ONLY! - Radio Energy</span><a class="popupElement" href="#" onclick="return false;" tabindex="-1" data-toggle="popover" data-html="true" data-content="<p>
	<a class=&quot;google-link&quot; href=&quot;https://www.google.com/search?q=90's+ONLY!+-+Radio+Energy&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-google&quot; aria-hidden=&quot;true&quot;></i> Google</a>
</p>
<p>
	<a class=&quot;youtube-link1&quot; href=&quot;https://www.youtube.com/results?search_query=90's+ONLY!+-+Radio+Energy&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-youtube-play&quot; aria-hidden=&quot;true&quot;></i> Youtube</a>
</p>
<p>
	<a class=&quot;genius-link&quot; href=&quot;https://genius.com/search?q=90's+ONLY!+-+Radio+Energy&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-font&quot; aria-hidden=&quot;true&quot;></i> Lyrics</a>
</p>
<p>
	<a class=&quot;spotify-link&quot; href=&quot;&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-spotify&quot; aria-hidden=&quot;true&quot;></i> Spotify</a>
</p>"> <i title="Търсене..." class="fa fa-search" aria-hidden="true"></i></a></td>
			<td><a class="externalPlayer" href="http://stream.radioreklama.bg/energy-90s.aac.m3u"><i class="fa fa-download fa-lg" aria-hidden="true"></i></a></td>
		</tr><tr>
			<td><a class="link" href="https://radionova.bg" target="_blank"><img class="image-fluid image-thumbnail logo" src="/radionova.png" width="100px"></a></td>
			<td><span class="name">Радио Nova</span></td>
			<td><span class="currentListeners">70</span></td>
			<td><span class="peakListeners">433</span></td>
			<td><span class="genre">House Music</span></td>
			<td class="currentSongCell"><span class="currentSong">RADIO NOVA - 101.7 FM SOFIA</span><a class="popupElement" href="#" onclick="return false;" tabindex="-1" data-toggle="popover" data-html="true" data-content="<p>
	<a class=&quot;google-link&quot; href=&quot;https://www.google.com/search?q=RADIO+NOVA+-+101.7+FM+SOFIA&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-google&quot; aria-hidden=&quot;true&quot;></i> Google</a>
</p>
<p>
	<a class=&quot;youtube-link1&quot; href=&quot;https://www.youtube.com/results?search_query=RADIO+NOVA+-+101.7+FM+SOFIA&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-youtube-play&quot; aria-hidden=&quot;true&quot;></i> Youtube</a>
</p>
<p>
	<a class=&quot;genius-link&quot; href=&quot;https://genius.com/search?q=RADIO+NOVA+-+101.7+FM+SOFIA&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-font&quot; aria-hidden=&quot;true&quot;></i> Lyrics</a>
</p>
<p>
	<a class=&quot;spotify-link&quot; href=&quot;&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-spotify&quot; aria-hidden=&quot;true&quot;></i> Spotify</a>
</p>"> <i title="Търсене..." class="fa fa-search" aria-hidden="true"></i></a></td>
			<td><a class="externalPlayer" href="http://stream.radioreklama.bg/nova.aac.m3u"><i class="fa fa-download fa-lg" aria-hidden="true"></i></a></td>
		</tr><tr>
			<td><a class="link" href="https://city.bg" target="_blank"><img class="image-fluid image-thumbnail logo" src="/radiocity.png" width="100px"></a></td>
			<td><span class="name">Радио City</span></td>
			<td><span class="currentListeners">139</span></td>
			<td><span class="peakListeners">1495</span></td>
			<td><span class="genre">Pop Music</span></td>
			<td class="currentSongCell"><span class="currentSong">RADIO CITY - ХИТОВЕ ДО СКЪСВАНЕ</span><a class="popupElement" href="#" onclick="return false;" tabindex="-1" data-toggle="popover" data-html="true" data-content="<p>
	<a class=&quot;google-link&quot; href=&quot;https://www.google.com/search?q=RADIO+CITY+-+ХИТОВЕ+ДО+СКЪСВАНЕ&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-google&quot; aria-hidden=&quot;true&quot;></i> Google</a>
</p>
<p>
	<a class=&quot;youtube-link1&quot; href=&quot;https://www.youtube.com/results?search_query=RADIO+CITY+-+ХИТОВЕ+ДО+СКЪСВАНЕ&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-youtube-play&quot; aria-hidden=&quot;true&quot;></i> Youtube</a>
</p>
<p>
	<a class=&quot;genius-link&quot; href=&quot;https://genius.com/search?q=RADIO+CITY+-+ХИТОВЕ+ДО+СКЪСВАНЕ&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-font&quot; aria-hidden=&quot;true&quot;></i> Lyrics</a>
</p>
<p>
	<a class=&quot;spotify-link&quot; href=&quot;&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-spotify&quot; aria-hidden=&quot;true&quot;></i> Spotify</a>
</p>"> <i title="Търсене..." class="fa fa-search" aria-hidden="true"></i></a></td>
			<td><a class="externalPlayer" href="http://stream.radioreklama.bg/city.aac.m3u"><i class="fa fa-download fa-lg" aria-hidden="true"></i></a></td>
		</tr><tr>
			<td><a class="link" href="https://www.bgradio.bg" target="_blank"><img class="image-fluid image-thumbnail logo" src="/bgestrada.png" width="100px"></a></td>
			<td><span class="name">Радио БГ Естрада</span></td>
			<td><span class="currentListeners">5</span></td>
			<td><span class="peakListeners">18</span></td>
			<td><span class="genre">BG POP</span></td>
			<td class="currentSongCell"><span class="currentSong">НЕЛИ РАНГЕЛОВА - НЕ ПИТАЙ КОГА</span><a class="popupElement" href="#" onclick="return false;" tabindex="-1" data-toggle="popover" data-html="true" data-content="<p>
	<a class=&quot;google-link&quot; href=&quot;https://www.google.com/search?q=НЕЛИ+РАНГЕЛОВА+-+НЕ+ПИТАЙ+КОГА&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-google&quot; aria-hidden=&quot;true&quot;></i> Google</a>
</p>
<p>
	<a class=&quot;youtube-link1&quot; href=&quot;https://www.youtube.com/results?search_query=НЕЛИ+РАНГЕЛОВА+-+НЕ+ПИТАЙ+КОГА&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-youtube-play&quot; aria-hidden=&quot;true&quot;></i> Youtube</a>
</p>
<p>
	<a class=&quot;genius-link&quot; href=&quot;https://genius.com/search?q=НЕЛИ+РАНГЕЛОВА+-+НЕ+ПИТАЙ+КОГА&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-font&quot; aria-hidden=&quot;true&quot;></i> Lyrics</a>
</p>
<p>
	<a class=&quot;spotify-link&quot; href=&quot;&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-spotify&quot; aria-hidden=&quot;true&quot;></i> Spotify</a>
</p>"> <i title="Търсене..." class="fa fa-search" aria-hidden="true"></i></a></td>
			<td><a class="externalPlayer" href="http://stream.radioreklama.bg/bgestrada.aac.m3u"><i class="fa fa-download fa-lg" aria-hidden="true"></i></a></td>
		</tr></tbody>
		</table>
	
	</main>
	  
	
	<footer class="page-footer font-small bg-dark">
		<div class="footer-copyright text-center text-light py-2 text-monospace font-weight-bold">© 2020 |
			<a href="#" target="_blank" class="text-light">trpakov</a>
		</div>
	</footer>
	


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script src="/js/radioList.js"></script>
</body></html>