<!DOCTYPE html><html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/radioPage.css">

    <title>Радио NRJ - RadioLook</title>
  </head>
  
  <body>
  
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		  <a class="navbar-brand" href="/"><img src="/logo.png" width="30" height="30" class="d-inline-block align-top" alt=""> RadioLook</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
			  <li class="nav-item">
				<a class="nav-link" href="/">Начало</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/radios">Списък</a>
			  </li>
			  <li class="nav-item dropdown active">
				<a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Радиа</a>
				<div id="radios-dropdown" class="dropdown-menu" aria-labelledby="dropdown01"><a class="dropdown-item" href="/radio/avtoradio">Авторадио</a>
<a class="dropdown-item" href="/radio/bgradio">БГ Радио</a>
<a class="dropdown-item" href="/radio/novanews">Нова Нюз</a>
<a class="dropdown-item active" href="/radio/radioenergy">Радио NRJ</a>
<a class="dropdown-item" href="/radio/radio1">Радио 1</a>
<a class="dropdown-item" href="/radio/radio1rock">Радио 1 Рок</a>
<a class="dropdown-item" href="/radio/radioveronika">Радио Вероника</a>
<a class="dropdown-item" href="/radio/nrj90s">Радио NRJ 90s</a>
<a class="dropdown-item" href="/radio/radionova">Радио Nova</a>
<a class="dropdown-item" href="/radio/radiocity">Радио City</a>
<a class="dropdown-item" href="/radio/bgestrada">Радио БГ Естрада</a>
</div>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/feedback">Контакт</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/about">Относно</a>
			  </li>
			</ul>

		  </div>
		</nav>
		
		<main role="main" class="container">
		
			<div id="radio-card" class="card text-white mb-3 mt-3">
				<div class="card-header"><h4 id="title">Радио NRJ</h4></div>
					<div class="card-body">
						<div class="row" style="text-align:center;">
							<div class="col-sm">
							  <img class="image-fluid logo rounded mx-auto d-block" width="60%" src="/radioenergy.png">
							</div>
							<div class="col-sm">
							  <p id="artist">ИЗПЪЛНИТЕЛ/И:<br><span id="artist_name">BABY BASH</span></p>
							</div>
							<div class="col-sm">
							   <p id="song">ПЕСЕН:<br><span id="song_name">SUGA SUGA (FT FRANKIE J)<span></span></span></p>
							</div>
						</div>
						
						<div class="row mt-3" style="text-align:center;">
							<div class="col-sm">
								<div id="radioplayer-box">
<script type="text/javascript" src="https://hosted.muses.org/mrp.js"></script>
<script id="radioplayer-script" type="text/javascript">
MRP.insert({
'url':'http://stream.radioreklama.bg/nrj.aac',
'lang':'bg',
'codec':'aac',
'volume':20,
'autoplay':false,
'forceHTML5':true,
'jsevents':true,
'buffering':0,
'title':'Радио NRJ',
'wmode':'transparent',
'skin':'cassette',
'width':200,
'height':120
});
</script>
</div>
							</div>
							
							<div class="col-sm">
								<img class="image-fluid artwork rounded mx-auto d-block" id="cover_image" width="60%" src="../cover.jpg">
							</div>
							
							<div id="search" class="col-sm"><p>
	<a class="google-link" href="https://www.google.com/search?q=BABY BASH+SUGA SUGA (FT FRANKIE J)" target="_blank"><i class="fa fa-google" aria-hidden="true"></i> Google</a>
</p>
<p>
	<a class="youtube-link1" href="https://www.youtube.com/results?search_query=BABY BASH+SUGA SUGA (FT FRANKIE J)" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i> Youtube</a>
</p>
<p>
	<a class="genius-link" href="https://genius.com/search?q=BABY BASH+SUGA SUGA (FT FRANKIE J)" target="_blank"><i class="fa fa-font" aria-hidden="true"></i> Lyrics</a>
</p>
<p>
	<a class="spotify-link" href="https://play.spotify.com/search/BABY BASH SUGA SUGA (FT FRANKIE J)" target="_blank"><i class="fa fa-spotify" aria-hidden="true"></i> Spotify</a>
</p></div>
						</div>
					</div>
				
			</div>
		
		
			<table class="table table-responsive-md table-striped table-bordered"> 
				<tbody><tr>
			<td class="text-center"><span class="date">20:00</span></td>
			<td class="text-center"><img class="image-fluid image-thumbnail cover-art" src="../cover.jpg" width="100px"></td>
			<td class="text-center"><span class="artist">DR DRE</span></td>
			<td class="text-center"><span class="song">STILL D R E (FT SNOOP DOG)</span></td>
			<td class="text-center" style="white-space:nowrap;"><a class="popupElement" href="#" onclick="return false;" tabindex="-1" data-toggle="popover" data-html="true" data-content="<p>
	<a class=&quot;google-link&quot; href=&quot;https://www.google.com/search?q=DR DRE+STILL D R E (FT SNOOP DOG)&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-google&quot; aria-hidden=&quot;true&quot;></i> Google</a>
</p>
<p>
	<a class=&quot;youtube-link1&quot; href=&quot;https://www.youtube.com/results?search_query=DR DRE+STILL D R E (FT SNOOP DOG)&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-youtube-play&quot; aria-hidden=&quot;true&quot;></i> Youtube</a>
</p>
<p>
	<a class=&quot;genius-link&quot; href=&quot;https://genius.com/search?q=DR DRE+STILL D R E (FT SNOOP DOG)&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-font&quot; aria-hidden=&quot;true&quot;></i> Lyrics</a>
</p>
<p>
	<a class=&quot;spotify-link&quot; href=&quot;https://play.spotify.com/search/DR DRE STILL D R E (FT SNOOP DOG)&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-spotify&quot; aria-hidden=&quot;true&quot;></i> Spotify</a>
</p>"> <i title="Търсене..." class="fa fa-search" aria-hidden="true"></i></a></td>
		</tr><tr>
			<td class="text-center"><span class="date">19:59</span></td>
			<td class="text-center"><img class="image-fluid image-thumbnail cover-art" src="../cover.jpg" width="100px"></td>
			<td class="text-center"><span class="artist">DR DRE</span></td>
			<td class="text-center"><span class="song">STILL D R E (FT SNOOP DOG)</span></td>
			<td class="text-center" style="white-space:nowrap;"><a class="popupElement" href="#" onclick="return false;" tabindex="-1" data-toggle="popover" data-html="true" data-content="<p>
	<a class=&quot;google-link&quot; href=&quot;https://www.google.com/search?q=DR DRE+STILL D R E (FT SNOOP DOG)&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-google&quot; aria-hidden=&quot;true&quot;></i> Google</a>
</p>
<p>
	<a class=&quot;youtube-link1&quot; href=&quot;https://www.youtube.com/results?search_query=DR DRE+STILL D R E (FT SNOOP DOG)&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-youtube-play&quot; aria-hidden=&quot;true&quot;></i> Youtube</a>
</p>
<p>
	<a class=&quot;genius-link&quot; href=&quot;https://genius.com/search?q=DR DRE+STILL D R E (FT SNOOP DOG)&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-font&quot; aria-hidden=&quot;true&quot;></i> Lyrics</a>
</p>
<p>
	<a class=&quot;spotify-link&quot; href=&quot;https://play.spotify.com/search/DR DRE STILL D R E (FT SNOOP DOG)&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-spotify&quot; aria-hidden=&quot;true&quot;></i> Spotify</a>
</p>"> <i title="Търсене..." class="fa fa-search" aria-hidden="true"></i></a></td>
		</tr><tr>
			<td class="text-center"><span class="date">19:56</span></td>
			<td class="text-center"><img class="image-fluid image-thumbnail cover-art" src="../cover.jpg" width="100px"></td>
			<td class="text-center"><span class="artist">DR DRE</span></td>
			<td class="text-center"><span class="song">STILL D R E (FT SNOOP DOG)</span></td>
			<td class="text-center" style="white-space:nowrap;"><a class="popupElement" href="#" onclick="return false;" tabindex="-1" data-toggle="popover" data-html="true" data-content="<p>
	<a class=&quot;google-link&quot; href=&quot;https://www.google.com/search?q=DR DRE+STILL D R E (FT SNOOP DOG)&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-google&quot; aria-hidden=&quot;true&quot;></i> Google</a>
</p>
<p>
	<a class=&quot;youtube-link1&quot; href=&quot;https://www.youtube.com/results?search_query=DR DRE+STILL D R E (FT SNOOP DOG)&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-youtube-play&quot; aria-hidden=&quot;true&quot;></i> Youtube</a>
</p>
<p>
	<a class=&quot;genius-link&quot; href=&quot;https://genius.com/search?q=DR DRE+STILL D R E (FT SNOOP DOG)&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-font&quot; aria-hidden=&quot;true&quot;></i> Lyrics</a>
</p>
<p>
	<a class=&quot;spotify-link&quot; href=&quot;https://play.spotify.com/search/DR DRE STILL D R E (FT SNOOP DOG)&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-spotify&quot; aria-hidden=&quot;true&quot;></i> Spotify</a>
</p>"> <i title="Търсене..." class="fa fa-search" aria-hidden="true"></i></a></td>
		</tr><tr>
			<td class="text-center"><span class="date">19:55</span></td>
			<td class="text-center"><img class="image-fluid image-thumbnail cover-art" src="http://is5.mzstatic.com/image/pf/us/r30/Music6/v4/51/c9/5c/51c95c90-a47b-3711-61e2-a09fa6b78559/toca-toca_1920-1920.300x300-75.jpg" width="100px"></td>
			<td class="text-center"><span class="artist">FLY PROJECT</span></td>
			<td class="text-center"><span class="song">TOCA TOCA</span></td>
			<td class="text-center" style="white-space:nowrap;"><a class="popupElement" href="#" onclick="return false;" tabindex="-1" data-toggle="popover" data-html="true" data-content="<p>
	<a class=&quot;google-link&quot; href=&quot;https://www.google.com/search?q=FLY PROJECT+TOCA TOCA&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-google&quot; aria-hidden=&quot;true&quot;></i> Google</a>
</p>
<p>
	<a class=&quot;youtube-link1&quot; href=&quot;https://www.youtube.com/results?search_query=FLY PROJECT+TOCA TOCA&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-youtube-play&quot; aria-hidden=&quot;true&quot;></i> Youtube</a>
</p>
<p>
	<a class=&quot;genius-link&quot; href=&quot;https://genius.com/search?q=FLY PROJECT+TOCA TOCA&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-font&quot; aria-hidden=&quot;true&quot;></i> Lyrics</a>
</p>
<p>
	<a class=&quot;spotify-link&quot; href=&quot;https://play.spotify.com/search/FLY PROJECT TOCA TOCA&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-spotify&quot; aria-hidden=&quot;true&quot;></i> Spotify</a>
</p>"> <i title="Търсене..." class="fa fa-search" aria-hidden="true"></i></a></td>
		</tr><tr>
			<td class="text-center"><span class="date">19:51</span></td>
			<td class="text-center"><img class="image-fluid image-thumbnail cover-art" src="http://is1.mzstatic.com/image/pf/us/r30/Music/aa/e1/90/mzi.avmjzebw.300x300-75.jpg" width="100px"></td>
			<td class="text-center"><span class="artist">BAD BOYS BLUE</span></td>
			<td class="text-center"><span class="song">THE POWER OF THE NIGHT</span></td>
			<td class="text-center" style="white-space:nowrap;"><a class="popupElement" href="#" onclick="return false;" tabindex="-1" data-toggle="popover" data-html="true" data-content="<p>
	<a class=&quot;google-link&quot; href=&quot;https://www.google.com/search?q=BAD BOYS BLUE+THE POWER OF THE NIGHT&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-google&quot; aria-hidden=&quot;true&quot;></i> Google</a>
</p>
<p>
	<a class=&quot;youtube-link1&quot; href=&quot;https://www.youtube.com/results?search_query=BAD BOYS BLUE+THE POWER OF THE NIGHT&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-youtube-play&quot; aria-hidden=&quot;true&quot;></i> Youtube</a>
</p>
<p>
	<a class=&quot;genius-link&quot; href=&quot;https://genius.com/search?q=BAD BOYS BLUE+THE POWER OF THE NIGHT&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-font&quot; aria-hidden=&quot;true&quot;></i> Lyrics</a>
</p>
<p>
	<a class=&quot;spotify-link&quot; href=&quot;https://play.spotify.com/search/BAD BOYS BLUE THE POWER OF THE NIGHT&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-spotify&quot; aria-hidden=&quot;true&quot;></i> Spotify</a>
</p>"> <i title="Търсене..." class="fa fa-search" aria-hidden="true"></i></a></td>
		</tr><tr>
			<td class="text-center"><span class="date">19:49</span></td>
			<td class="text-center"><img class="image-fluid image-thumbnail cover-art" src="../cover.jpg" width="100px"></td>
			<td class="text-center"><span class="artist">NANA</span></td>
			<td class="text-center"><span class="song">I CLOSE MY EYES</span></td>
			<td class="text-center" style="white-space:nowrap;"><a class="popupElement" href="#" onclick="return false;" tabindex="-1" data-toggle="popover" data-html="true" data-content="<p>
	<a class=&quot;google-link&quot; href=&quot;https://www.google.com/search?q=NANA+I CLOSE MY EYES&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-google&quot; aria-hidden=&quot;true&quot;></i> Google</a>
</p>
<p>
	<a class=&quot;youtube-link1&quot; href=&quot;https://www.youtube.com/results?search_query=NANA+I CLOSE MY EYES&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-youtube-play&quot; aria-hidden=&quot;true&quot;></i> Youtube</a>
</p>
<p>
	<a class=&quot;genius-link&quot; href=&quot;https://genius.com/search?q=NANA+I CLOSE MY EYES&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-font&quot; aria-hidden=&quot;true&quot;></i> Lyrics</a>
</p>
<p>
	<a class=&quot;spotify-link&quot; href=&quot;https://play.spotify.com/search/NANA I CLOSE MY EYES&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-spotify&quot; aria-hidden=&quot;true&quot;></i> Spotify</a>
</p>"> <i title="Търсене..." class="fa fa-search" aria-hidden="true"></i></a></td>
		</tr><tr>
			<td class="text-center"><span class="date">19:44</span></td>
			<td class="text-center"><img class="image-fluid image-thumbnail cover-art" src="http://is1.mzstatic.com/image/thumb/Features4/v4/ae/07/37/ae073736-3130-b5e4-9619-fe1cd9fdca9d/dj.kijiehkk.jpg/360x360bb.jpg" width="100px"></td>
			<td class="text-center"><span class="artist">ENRIQUE IGLESIAS</span></td>
			<td class="text-center"><span class="song">RHYTHM DIVINE</span></td>
			<td class="text-center" style="white-space:nowrap;"><a class="popupElement" href="#" onclick="return false;" tabindex="-1" data-toggle="popover" data-html="true" data-content="<p>
	<a class=&quot;google-link&quot; href=&quot;https://www.google.com/search?q=ENRIQUE IGLESIAS+RHYTHM DIVINE&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-google&quot; aria-hidden=&quot;true&quot;></i> Google</a>
</p>
<p>
	<a class=&quot;youtube-link1&quot; href=&quot;https://www.youtube.com/results?search_query=ENRIQUE IGLESIAS+RHYTHM DIVINE&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-youtube-play&quot; aria-hidden=&quot;true&quot;></i> Youtube</a>
</p>
<p>
	<a class=&quot;genius-link&quot; href=&quot;https://genius.com/search?q=ENRIQUE IGLESIAS+RHYTHM DIVINE&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-font&quot; aria-hidden=&quot;true&quot;></i> Lyrics</a>
</p>
<p>
	<a class=&quot;spotify-link&quot; href=&quot;https://play.spotify.com/search/ENRIQUE IGLESIAS RHYTHM DIVINE&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-spotify&quot; aria-hidden=&quot;true&quot;></i> Spotify</a>
</p>"> <i title="Търсене..." class="fa fa-search" aria-hidden="true"></i></a></td>
		</tr><tr>
			<td class="text-center"><span class="date">19:42</span></td>
			<td class="text-center"><img class="image-fluid image-thumbnail cover-art" src="https://is3-ssl.mzstatic.com/image/thumb/Music/v4/60/d9/ea/60d9eafd-f32d-3505-8daa-4ea78186dcee/source/360x360bb.jpg" width="100px"></td>
			<td class="text-center"><span class="artist">MR PRESIDENT</span></td>
			<td class="text-center"><span class="song">Coco Jambo</span></td>
			<td class="text-center" style="white-space:nowrap;"><a class="popupElement" href="#" onclick="return false;" tabindex="-1" data-toggle="popover" data-html="true" data-content="<p>
	<a class=&quot;google-link&quot; href=&quot;https://www.google.com/search?q=MR PRESIDENT+Coco Jambo&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-google&quot; aria-hidden=&quot;true&quot;></i> Google</a>
</p>
<p>
	<a class=&quot;youtube-link1&quot; href=&quot;https://www.youtube.com/results?search_query=MR PRESIDENT+Coco Jambo&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-youtube-play&quot; aria-hidden=&quot;true&quot;></i> Youtube</a>
</p>
<p>
	<a class=&quot;genius-link&quot; href=&quot;https://genius.com/search?q=MR PRESIDENT+Coco Jambo&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-font&quot; aria-hidden=&quot;true&quot;></i> Lyrics</a>
</p>
<p>
	<a class=&quot;spotify-link&quot; href=&quot;https://play.spotify.com/search/MR PRESIDENT Coco Jambo&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-spotify&quot; aria-hidden=&quot;true&quot;></i> Spotify</a>
</p>"> <i title="Търсене..." class="fa fa-search" aria-hidden="true"></i></a></td>
		</tr><tr>
			<td class="text-center"><span class="date">19:40</span></td>
			<td class="text-center"><img class="image-fluid image-thumbnail cover-art" src="https://is3-ssl.mzstatic.com/image/thumb/Music/v4/60/d9/ea/60d9eafd-f32d-3505-8daa-4ea78186dcee/source/360x360bb.jpg" width="100px"></td>
			<td class="text-center"><span class="artist">MR PRESIDENT</span></td>
			<td class="text-center"><span class="song">Coco Jambo</span></td>
			<td class="text-center" style="white-space:nowrap;"><a class="popupElement" href="#" onclick="return false;" tabindex="-1" data-toggle="popover" data-html="true" data-content="<p>
	<a class=&quot;google-link&quot; href=&quot;https://www.google.com/search?q=MR PRESIDENT+Coco Jambo&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-google&quot; aria-hidden=&quot;true&quot;></i> Google</a>
</p>
<p>
	<a class=&quot;youtube-link1&quot; href=&quot;https://www.youtube.com/results?search_query=MR PRESIDENT+Coco Jambo&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-youtube-play&quot; aria-hidden=&quot;true&quot;></i> Youtube</a>
</p>
<p>
	<a class=&quot;genius-link&quot; href=&quot;https://genius.com/search?q=MR PRESIDENT+Coco Jambo&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-font&quot; aria-hidden=&quot;true&quot;></i> Lyrics</a>
</p>
<p>
	<a class=&quot;spotify-link&quot; href=&quot;https://play.spotify.com/search/MR PRESIDENT Coco Jambo&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-spotify&quot; aria-hidden=&quot;true&quot;></i> Spotify</a>
</p>"> <i title="Търсене..." class="fa fa-search" aria-hidden="true"></i></a></td>
		</tr><tr>
			<td class="text-center"><span class="date">19:38</span></td>
			<td class="text-center"><img class="image-fluid image-thumbnail cover-art" src="https://is3-ssl.mzstatic.com/image/thumb/Music/v4/46/44/84/46448404-5f7f-849d-386f-dd01527644eb/source/360x360bb.jpg" width="100px"></td>
			<td class="text-center"><span class="artist">SASH!</span></td>
			<td class="text-center"><span class="song">MA BAKER (BONEY M)</span></td>
			<td class="text-center" style="white-space:nowrap;"><a class="popupElement" href="#" onclick="return false;" tabindex="-1" data-toggle="popover" data-html="true" data-content="<p>
	<a class=&quot;google-link&quot; href=&quot;https://www.google.com/search?q=SASH!+MA BAKER (BONEY M)&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-google&quot; aria-hidden=&quot;true&quot;></i> Google</a>
</p>
<p>
	<a class=&quot;youtube-link1&quot; href=&quot;https://www.youtube.com/results?search_query=SASH!+MA BAKER (BONEY M)&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-youtube-play&quot; aria-hidden=&quot;true&quot;></i> Youtube</a>
</p>
<p>
	<a class=&quot;genius-link&quot; href=&quot;https://genius.com/search?q=SASH!+MA BAKER (BONEY M)&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-font&quot; aria-hidden=&quot;true&quot;></i> Lyrics</a>
</p>
<p>
	<a class=&quot;spotify-link&quot; href=&quot;https://play.spotify.com/search/SASH! MA BAKER (BONEY M)&quot; target=&quot;_blank&quot;><i class=&quot;fa fa-spotify&quot; aria-hidden=&quot;true&quot;></i> Spotify</a>
</p>"> <i title="Търсене..." class="fa fa-search" aria-hidden="true"></i></a></td>
		</tr></tbody>
			</table>
			

			<div class="text-center">
				<a id="load-more" href="#" onclick="return false;" style="font-size:300%;" title="Зареди още записи"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i></a>
			</div>
		
		</main>
		
		
		<footer class="page-footer font-small bg-dark">
			<div class="footer-copyright text-center text-light py-2 text-monospace font-weight-bold">© 2020 |
				<a href="#" target="_blank" class="text-light">trpakov</a>
			</div>
		</footer>
	


		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		<script src="/js/radioPage.js"></script>
</body></html>