<table class="table table-responsive-md table-striped table-bordered"> 
	<tbody>
		<tr>
			<td class="text-center"><span class="date"></span></td>
			<td class="text-center"><img class="image-fluid image-thumbnail cover-art" src="../logo.png" width="100px"/></td>
			<td class="text-center"><span class="artist"></span></td>
			<td class="text-center"><span class="song"></span></td>
			<td class="text-center" style="white-space:nowrap;"><a class="popupElement" href="#" onClick="return false;" tabindex="-1"  data-toggle="popover" data-html="true"> <i title="Търсене..." class="fa fa-search" aria-hidden="true"></i></a></td>
		</tr>
	</tbody>
</table>