<table>
	<tbody>
		<tr>
			<td><a class="link" href="#" target="_blank"><img class="image-fluid image-thumbnail logo" src="#" width="100px"/></a></td>
			<td><span class="name"></span></td>
			<td><span class="currentListeners"></span></td>
			<td><span class="peakListeners"></span></td>
			<td><span class="genre"></span></td>
			<td style="white-space:nowrap;"><span class="currentSong"></span><a class="popupElement" href="#" onClick="return false;" tabindex="-1"  data-toggle="popover" data-html="true"> <i title="Търсене..." class="fa fa-search" aria-hidden="true"></i></a></td>
			<td><a class="externalPlayer" href="#"><i class="fa fa-download fa-lg" aria-hidden="true"></i></a></td>
		</tr>
	</tbody>
</table>