/* td.currentSongCell {
	 white-space:nowrap;
} */

.table td, .table th {
	text-align: center;
	vertical-align: middle;
}

.modal .modal-dialog {
    position:fixed;
    top:0px;
    right:0px;
    margin:0px;
}

.modal-backdrop {
    opacity:0 !important;
}

.popupElement {
	text-decoration: none !important;
}

.fa-google {
	color: blue;
}

.fa-youtube-play {
	color: red;
}

.fa-font {
	color: black;
}

.fa-spotify {
	color: green;
}