#search a {
	color: white;
	font-size: 120%;
}

.fa-google {
	color: blue;
}

.fa-youtube-play {
	color: red;
}

.fa-font {
	color: black;
}

.fa-spotify {
	color: green;
}

#radio-card {
	background-color: #6aadce !important;
}

.modal .modal-dialog {
    position:fixed;
    top:0px;
    right:0px;
    margin:0px;
}

.modal-backdrop
{
    opacity:0 !important;
}

#MusesRadioPlayer-HTML5-player-0 {
	align-self: center;
}

.radioplayer-div {
	display: flex;
	justify-content: center;
}

.table td, .table th {
	text-align: center;

}

.main-text {
	font-size: 115%;
}












